.contract_current{
    position: relative;
    border: 1px solid #dedede ;
    display: inline-block;
    max-width: 160px ;
    width: auto;
    height: 63px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
}
.contract_current:hover{
    border: 1px solid #2A3052;
}

.contract_current .type{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}
.arrow_down{
    width: 10px;
    height: 10px;
    background: url("./assets/ic_arrow_dropdown_light.svg") no-repeat;
    background-size: contain;
    margin-left: 10px;
    position: relative;
    top: 7px;
    float: right;
}
.contract { 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.items.active{
    background-color: #2A3052 !important;
    color: #FFFFFF;
}
.hider{
    display: none;
}



    
    
    
